apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-hjqs
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-hjqs
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-hjqs
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-hjqs
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-hjqs
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-jhik-tenant/rhtap-demo-app/hacbs-test-project-hjqs@sha256:35a04c662db279a740e237dc39d3e8d8994bffbd23df333131e6de2c400ca2f7
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
